@model KFCClone.DTOs.Product.GetProductByIdResponseDto
@{
    ViewData["Title"] = "Product";
}

<div class="product-details-container">
    <div class="product-details-image-section">
        <img class="product-details-image" src="/Images/@Model.ProductImage" alt="@Model.ProductName">
    </div>
    <div class="product-details-content-section">
        <h2>@Model.ProductName</h2>
        <p>@Model.ProductDescription</p>

        @if (Model.DrinkCount > 0)
        {
            for (int i = 0; i < Model.DrinkCount; i++)
            {
                int index = 0;
                <div class="product-details-addon-container" id="drinks-container">
                    <h2>Select Drink</h2>
                    @* ProductAddOn? item = Model.ProductAddOns.ElementAtOrDefault(i);
                        <div class="addon-row" addOnId='@item!.AddOnId'>
                        @await Html.PartialAsync("_Checkbox", null, new ViewDataDictionary(ViewData){{"LabelText",
                        @item!.AddOn.Name}, {"AddOnClass", "addon-name"}})

                        <p class="addon-price" addOnPrice='@item!.AddOn.Price'>PKR @item!.AddOn.Price</p>
                        @await Html.PartialAsync("_Counter", null, new ViewDataDictionary(ViewData){{"AddOnId",
                        @item!.AddOnId}})
                        </div> *@

                    @foreach (var item in Model.ProductAddOns)
                    {
                        if (item.AddOn.IsDrink)
                        {
                            <div class="addon-row">
                                <label class="drink-radio-container">@item.AddOn.Name
                                    <input type="radio" name="drinks_@i" value="@item.AddOnId" addOnName='@item.AddOn.Name'
                        addOnPrice='0'>
                                    <span class="radio-btn"></span>
                                </label>

                                @* <p class="addon-name">@item.AddOn.Name</p> *@

                            </div>
                        }
                        index++;
                    }
                </div>
            }
        }
        else if (Model.IsMeal)
        {
            int index = 0;
            <div class="product-details-addon-container" id="drinks-container">
                <h2>Select Meal</h2>


                @foreach (var item in Model.ProductAddOns)
                {
                    if (item.AddOn.IsDrink)
                    {
                        <div class="addon-row">
                            <label class="drink-radio-container">@item.AddOn.Name
                                <input type="radio" name="meals" id="meals" value="@item.AddOnId" addOnName='@item.AddOn.Name'
                        addOnPrice='@item.AddOn.Price'>
                                <span class="radio-btn"></span>
                            </label>
                        </div>
                    }
                    index++;
                }
            </div>
        }
        else
        {
            <div class="product-details-addon-container" id="drinks-container">
                <h2>Add Drink</h2>
                @foreach (var item in Model.ProductAddOns)
                {
                    if (item.AddOn.IsDrink)
                    {
                        <div class="addon-row" addOnId='@item.AddOnId'>
                            @await Html.PartialAsync("_Checkbox", null, new ViewDataDictionary(ViewData){{"LabelText",
                @item.AddOn.Name}, {"AddOnClass", "addon-name"}})
                            @* <p class="addon-name">@item.AddOn.Name</p> *@
                            <p class="addon-price" addOnPrice='@item.AddOn.Price'>PKR @item.AddOn.Price</p>
                            @await Html.PartialAsync("_Counter", null, new ViewDataDictionary(ViewData){{"AddOnId",
                @item.AddOnId}})
                        </div>
                    }
                }
            </div>
        }
        <div class="product-details-addon-container" id="addons-container">
            <h2>Add Ons</h2>
            @foreach (var item in Model.ProductAddOns)
            {
                if (!item.AddOn.IsDrink && !item.AddOn.IsUpsize && item.AddOn.IsFriesSize != true)
                {
                    <div class="addon-row" addOnId='@item.AddOnId'>
                        @await Html.PartialAsync("_Checkbox", null, new ViewDataDictionary(ViewData){{"LabelText",
                @item.AddOn.Name}, {"AddOnClass", "addon-name"}})
                        @* <p class="addon-name">@item.AddOn.Name</p> *@
                        <p class="addon-price" addOnPrice='@item.AddOn.Price'>PKR @item.AddOn.Price</p>
                        @await Html.PartialAsync("_Counter", null, new ViewDataDictionary(ViewData){{"AddOnId",
                @item.AddOnId}})
                    </div>
                }
            }
        </div>
        <div class="product-details-addon-container" id="addons-container">
            <h2>Select Size</h2>
            @foreach (var item in Model.ProductAddOns)
            {
                if (item.AddOn.IsFriesSize ?? false)
                {
                    <div class="addon-row">
                        <label class="drink-radio-container">@item.AddOn.Name
                            <input type="radio" id="fries-size" name="fries-size" value="@item.AddOnId"
                        addOnName='@item.AddOn.Name'
                        addOnPrice='@(item.AddOn.Price == 0 ? @item.Product.ProductPrice : @item.AddOn.Price)'>
                            <span class="radio-btn"></span>
                        </label>

                        @* <p class="addon-name">@item.AddOn.Name</p> *@

                    </div>
                }
            }
        </div>
        <div class="product-details-addon-container" id="upsize-container">
            <h2>Upsize</h2>
            @foreach (var item in Model.ProductAddOns)
            {
                if (item.AddOn.IsUpsize)
                {
                    <div class="addon-row" addOnId='@item.AddOnId'>
                        @await Html.PartialAsync("_Checkbox", null, new ViewDataDictionary(ViewData){{"LabelText",
                @item.AddOn.Name}, {"AddOnClass", "addon-name"}})
                        @* <p class="addon-name">@item.AddOn.Name</p> *@
                        <p class="addon-price" addOnPrice='@item.AddOn.Price'>PKR @item.AddOn.Price</p>
                        @await Html.PartialAsync("_Counter", null, new ViewDataDictionary(ViewData){{"AddOnId",
                @item.AddOnId}})
                    </div>
                }
            }
        </div>
        <h2 class="product-details-grand-total" id="grand-total"></h2>
        <div class="product-details-footer">
            @await Html.PartialAsync("_Counter")
            <button id="addCartBtn" class="primary-button">
                Add to Cart
            </button>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        var formatter = new Intl.NumberFormat(undefined, {
            style: 'currency',
            currency: 'PKR',
            maximumFractionDigits: 0
        });

        $('input:radio').first().prop('checked', true);

        var total = @Model.ProductPrice;
        var isMealAddOnPriceIncluded = false;
        var previousMealAddOnPrice = 0;

        const setTotal = function () {
            $('#grand-total').text(formatter.format(total));
        }

        setTotal();

        if ("@Model.ProductName" === "French Fries") {
            total = parseInt($('#fries-size').attr('addOnPrice'));
            setTotal();
        }

        $(document).on('click', ".addon-row > .checkbox-container > :checkbox", function () {
            var addonId = $(this).parents('.addon-row').attr('addOnId');
            var addonPrice = $(this).parents('.addon-row').find('.addon-price').attr('addOnPrice');
            var addonCount = $(this).parents('.addon-row').find('.counter-container > input').val();

            if ($(this)[0].checked) {
                total += parseInt(addonPrice) * parseInt(addonCount);
                setTotal();
                return;
            }
            total -= parseInt(addonPrice) * parseInt(addonCount);
            setTotal();

        })

        $(document).on('change', "#fries-size", function () {
            var count = $('.product-details-footer').find('#quantity').val();

            total = parseInt($(this).attr('addOnPrice')) * parseInt(count);
            setTotal();
        })

        $(document).on('change', ".addon-row #meals", function () {
            var addonPrice = parseInt($(this).attr('addOnPrice'));
            if (!isMealAddOnPriceIncluded) {
                total += addonPrice;
                previousMealAddOnPrice = addonPrice;
                setTotal();
                if (addonPrice > 0) {
                    isMealAddOnPriceIncluded = true;
                }
                return
            }
            if (isMealAddOnPriceIncluded && addonPrice == 0) {
                total -= previousMealAddOnPrice;
                setTotal();
                isMealAddOnPriceIncluded = false;

            }
        })
        $('#addCartBtn').click(function () {
            if ($('.addon-row :radio:checked').length == 0 && @Model.DrinkCount == 1) {
                alert('Please select a drink');
                return;
            }
            if (($('.addon-row :radio:checked').length == 0 || $('.addon-row :radio:checked').length == 1) && @Model.DrinkCount == 2) {
                alert('Please select drinks');
                return;
            }
            var cartItems = JSON.parse(localStorage.getItem('cart'));

            if (cartItems == null) {
                cartItems = [];
            }

            var drinks = []
            var addOns = []
            var upsize = []
            var friesSize = []

            $('.addon-row :radio:checked:not(#fries-size)').each(function () {
                var addonId = parseInt($(this).val());
                var addonName = $(this).attr('addOnName');
                var addonPrice = parseInt($(this).attr('addOnPrice'));
                var addonCount = 1;
                drinks.push({
                    addonId,
                    addonName,
                    addonPrice,
                    addonCount
                });
            })

            $('.addon-row #fries-size:checked').each(function () {
                var addonId = parseInt($(this).val());
                var addonName = $(this).attr('addOnName');
                var addonPrice = parseInt($(this).attr('addOnPrice'));
                var addonCount = 1
                friesSize.push({
                    addonId,
                    addonName,
                    addonPrice,
                    addonCount
                });
            })

            $('#drinks-container > .addon-row > .checkbox-container > :checkbox:checked').parents('.addon-row').each(function () {
                var addonId = $(this).attr('addOnId');
                var addonName = $(this).find('.checkbox-container').text().trim();
                var addonPrice = $(this).find('.addon-price').attr('addOnPrice');
                var addonCount = $(this).find('.counter-container > input').val();
                drinks.push({
                    addonId,
                    addonName,
                    addonPrice,
                    addonCount
                })
            })
            $('#addons-container > .addon-row > .checkbox-container > :checkbox:checked').parents('.addon-row').each(function () {
                var addonId = $(this).attr('addOnId');
                var addonName = $(this).find('.checkbox-container').text().trim();
                var addonPrice = $(this).find('.addon-price').attr('addOnPrice');
                var addonCount = $(this).find('.counter-container > input').val();
                addOns.push({
                    addonId,
                    addonName,
                    addonPrice,
                    addonCount
                })
            })
            $('#upsize-container > .addon-row > .checkbox-container > :checkbox:checked').parents('.addon-row').each(function () {
                var addonId = $(this).attr('addOnId');
                var addonName = $(this).find('.checkbox-container').text().trim();
                var addonPrice = $(this).find('.addon-price').attr('addOnPrice');
                var addonCount = $(this).find('.counter-container > input').val();
                upsize.push({
                    addonId,
                    addonName,
                    addonPrice,
                    addonCount
                })
            })

            cartItems.push({
                id: @Model.Id,
                name: "@Model.ProductName",
                price: "@Model.ProductName" === "French Fries" ? parseInt($('.addon-row #fries-size:checked').attr('addOnPrice')) : @Model.ProductPrice,
                image: "@Model.ProductImage",
                index: cartItems.length,
                quantity: parseInt($('.product-details-footer #quantity').val()),
                drinks,
                addOns,
                upsize,
                friesSize
            });


            localStorage.setItem('cart', JSON.stringify(cartItems));
            $('.cart-btn').children().first().text(JSON.parse(localStorage.getItem('cart'))?.length || 0)

        })

        $(document).on("click", ".addon-row .minus", function () {
            var isChecked = $(this).parents('.addon-row').find('.checkbox-container > :checkbox')[0].checked;
            if (!isChecked) return;

            var $input = $(this).parent().find('#quantity');
            var count = parseInt($input.val()) - 1;
            if (count < 1) {
                return
            }
            $input.val(count);

            var addonPrice = $(this).parents('.addon-row').find('.addon-price').attr('addOnPrice');
            total -= parseInt(addonPrice);
            setTotal();
        })

        $(document).on("click", ".addon-row .add", function () {
            var isChecked = $(this).parents('.addon-row').find('.checkbox-container > :checkbox')[0].checked;
            if (!isChecked) return;

            var $input = $(this).parent().find('#quantity');
            var count = parseInt($input.val()) + 1;

            $input.val(count);
            var addonPrice = $(this).parents('.addon-row').find('.addon-price').attr('addOnPrice');
            total += parseInt(addonPrice);
            setTotal();
        })

        $(document).on("click", ".product-details-footer .minus", function () {
            if ("@Model.ProductName" === "French Fries") {
                var $input = $(this).parent().find('#quantity');
                var count = parseInt($input.val()) - 1;

                if (count < 1) {
                    return
                }

                $input.val(count);
                total -= total / (count + 1);
                setTotal();
                return
            }

            var $input = $(this).parent().find('#quantity');
            var count = parseInt($input.val()) - 1;

            if (count < 1) {
                return
            }

            $input.val(count);
            total -= @Model.ProductPrice;
            setTotal();
        })

        $(document).on("click", ".product-details-footer .add", function () {
            if ("@Model.ProductName" === "French Fries") {
                var $input = $(this).parent().find('#quantity');
                var count = parseInt($input.val()) + 1;

                $input.val(count);

                total += total / (count - 1);
                setTotal();
                return
            }
            var $input = $(this).parent().find('#quantity');
            var count = parseInt($input.val()) + 1;
            $input.val(count);
            total += @Model.ProductPrice;

            setTotal();
        })
    })
</script>