<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KFC Clone</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KFCClone.styles.css" asp-append-version="true" />

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <style>
        .category-item {
            padding: 1.6em;
            cursor: pointer;
            font-size: 13px;
            font-weight: 600;
            transition: color 200ms ease-in-out;
            text-decoration: none;
            color: var(--black)
        }

        .category-item:hover:not(.category-item-selected) {
            color: #6a6a6a;
        }

        .category-item-selected {
            background-color: var(--black);
            border-radius: 21px;
            color: var(--white);
        }

        .cart-btn {
            background-color: var(--red);
            border-radius: 21px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: 1.2em;
            margin-left: auto;
            margin-block: auto;
            padding: 0.5em 1.2em;
            min-width: 100px;
            cursor: pointer;
            color: var(--white);
            font-weight: 700;
            position: relative;
            font-size: 22px;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar-container">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img class='logo' src="~/Images/KFC_logo.png" alt="KFC Logo" />
            </a>
            @if (@User.Identity!.IsAuthenticated)
            {
                <div class="logged-in-container">
                    <div class="username-container">
                        @User.Identity.Name
                    </div>
                    <a class='login-link-btn' asp-area="" asp-controller="Auth" asp-action="Logout">
                        Signout
                    </a>
                </div>
            }
            else
            {
                <a class='login-link-btn' asp-area="" asp-controller="Auth" asp-action="Login">
                    Sign in / Register
                </a>
            }

        </nav>
    </header>
    <div class="body-content-container">
        <div class='category-container'>
            @* <div class='category-item category-item-selected'>
                Everyday Value
                </div>
                <div class='category-item'>
                Make it a Meal
                </div>

                <div class='category-item'>
                Everyday Value
                </div> *@
            @* @foreach (var item in Model)
                {
                <div class='category-item'>
                @Html.DisplayFor(modelItem => item.CategoryName)
                </div>
                } *@


        </div>
        <main role="main">
            @await Html.PartialAsync("_CartSideBar")
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: '/Category/GetCategories',
                success: function (data) {
                    $.each(data, function (key, item) {
                        $(".category-container").append(
                            `<a href="/Category/${item.id}" class='category-item'>
                                ${item.categoryName}
                            </a>`
                        );
                    })
                },
                complete: function () {
                    $(".category-container").append(
                        `<div class='cart-btn'>
                            <span>
                                ${JSON.parse(localStorage.getItem('cart'))?.length || 0}
                            </span>
                            <img src='/Images/shopping-bag.svg' />
                        </div>`
                    )
                }

            })
        })
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
