@model KFCClone.ViewModel.HomeViewModel
@{
    ViewData["Title"] = "Home";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<style>
    .product-card {
        width: 20%;
        min-width: 250px;
        background-color: var(--grey);
        border-radius: 24px;
        gap: 1.5em;
        overflow: hidden;
        display: flex;
        text-decoration: none;
        color: initial;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
    }

    .product-card:hover {
        color: initial;
    }
</style>

<div class="homepage-container">
    <div class="carousel-container">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                @foreach (var item in Model.promotions)
                {
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@(item.Id - 1)"
                    class="@(Model.promotions[0].Id == item.Id ? " active" : "")" aria-current="true"
                    aria-label="Slide @item.Id"></button>
                }
            </div>
            <div class="carousel-inner">
                @foreach (var item in Model.promotions)
                {
                    @if (item.ProductId.HasValue)
                    {
                        <a asp-controller="Product" asp-action="Index" asp-route-productId="@item.ProductId"
                    class="carousel-item @(Model.promotions[0].Id == item.Id ? " active" : "") ">
                            <img src=" /Images/@item.Image" class="carousel-image" alt="promotion-image-@item.Id">
                        </a>
                    }
                    else
                    {
                        <div class="carousel-item @(Model.promotions[0].Id == item.Id ? " active" : "") ">
                            <img src=" /Images/@item.Image" class="carousel-image" alt="promotion-image-@item.Id">
                        </div>
                    }
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <h4 class="heading-container">
        @Model.products[0].Category.CategoryName
    </h4>
    <div class="products-container">
        @foreach (var item in Model.products)
        {
            <a asp-controller="Product" asp-action="Index" class="product-card" asp-route-productId="@item.Id">
                <img src="/Images/@item.ProductImage" alt="@item.ProductName" />
                <div class="product-card-content">
                    <h3>@item.ProductName</h3>
                    <p>@item.ProductDescription</p>
                    <div class="price-container">
                        <h2>PKR @item.ProductPrice</h2>
                        <div class="add-to-cart-container">
                            <img src='/Images/shopping-bag.svg' />
                        </div>
                    </div>

                </div>
            </a>
        }
    </div>
</div>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
